@import url('reset.css');

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    background-color: #333;
    color: #fff;
    font-family: 'Roboto';
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 55px minmax(600px, 1fr) 40px;
}

.header {
    display: grid;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.status-container {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 10px;
}

.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


tr, td {
    border: 1px solid black;
}

tr {
    display: flex;
}

td {
    height: 120px;
    width: 120px;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    font-family: 'Roboto';
    font-weight: bold;
}

td:hover {
    cursor:grab;
}

.settings-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.settings-container button,
form button{
    font-family: 'Roboto';
    padding: 5px 10px 5px 10px;
    border-radius: 10px;  
    font-weight: bold;
    font-size: 1rem;  
}

.form-container {
    display: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Roboto';
}

input[type=text] {
    font-size: 1.2rem;
    border-radius: 10px;
}

.footer {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}